{% load static %}
<header class="main_navbar">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Logo">
        </div>

        <div class="location_box">
            <i class="fa-solid fa-location-dot"></i>
            <div>
                <div>Delivering to </div>
                <div><b>Sonipat 131001</b></div>
            </div>
        </div>

        <div class="dropdown_box">
            <select name="" id="">
                <option value="">All</option>
                <option value="">Alexa</option>
                <option value="">Amazon Devices</option>
                <option value="">Amazon Fashion</option>
                <option value="">Amazon Fresh</option>
                <option value="">Amazon Pharmacy</option>
                <option value="">Appliances</option>
                <option value="">Apps &amp; Games</option>
                <option value="">Baby</option>
                <option value="">Beauty &amp; Personal Care</option>
                <option value="">Books</option>
                <option value="">Car &amp; Motorbike</option>
                <option value="">Clothing &amp; Accessories</option>
            </select>
            <input type="text" placeholder="Search Amazon.in">
            <div class="magnifying_icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>

        <select name="" id="" class="language_dropdown">
            <option value="">🇮🇳 EN</option>
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
        </select>

        <div class="account_section">
            <p>Hello {{ user_name|default:'User' }}</p>
            <p>Account &amp; Lists</p>
        </div>

        <div class="orders_section">
            <p>Returns</p>
            <p>&amp; Orders</p>
        </div>

        <div class="cart_box">
            <div class="cart_count"><b>0</b></div>
            <div class="cart_text">
                <div>🛒</div>
                <div><a>Cart</a></div>
            </div>
        </div>
    </header>
